@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

body {
  padding: 8.9rem 3.2rem;
  background-image: url(./images/pattern-circles.svg),
    url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 145px 145px, auto;
  background-position: center top 48px, top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #293356;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

header p {
  color: #848ead;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  width: 22ch;
  margin-top: 8px;
  margin-bottom: 6.4rem;
}

main {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
  padding: 3.4rem 1.2rem;
  position: relative;
  width: 32.7rem;
}

.viewsAndCost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 8.9rem;
}

.viewsAndCost .views {
  color: #848ead;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.714px;
  text-transform: uppercase;
}

.cost_month {
  display: flex;
  align-items: center;
}

.cost {
  color: #293356;
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.8px;
}

.monthly {
  color: #848ead;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}

.discount {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 3.4rem;
}

.discount p {
  color: #848ead;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.spanBG {
  width: 41px;
  height: 19px;
  border-radius: 9.5px;
  background: #feede8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.spanBG span {
  color: #ff8d68;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.check {
  width: 43px;
  height: 22px;
  background-color: #cfd8ef;
  border-radius: 25px;
  position: relative;
  margin: 0 12px 0;
}

.check:hover {
  background-color: #7aeadf;
  cursor: pointer;
}

.leftWhite {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 3px;
  left: 4px;
}

.rightWhite {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 3px;
  left: 23px;
  display: none;
}

.discount input {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.discount input:hover {
  cursor: pointer;
}

hr {
  width: 327px;
  height: 1px;
  background: #ecf0fb;
  position: absolute;
  top: 27.7rem;
  left: 0px;
  border: none;
}

.bottom {
  margin-top: 6.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}
.offerListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.offerListItem p {
  color: #848ead;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button {
  margin-top: 3.2rem;
  border: none;
  padding: 1.2rem 4.6rem;
  border-radius: 20.5px;
  background: #293356;
  color: #becdff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

button:hover {
  cursor: pointer;
}

#range {
  width: 279px;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--before-thumb-color) 0%,
    var(--before-thumb-color) var(--thumb-position),
    var(--after-thumb-color) var(--thumb-position),
    var(--after-thumb-color) 100%
  );
  appearance: none;
  position: absolute;
  top: 58px;
}

:root {
  --before-thumb-color: #a4f3eb;
  --after-thumb-color: #ecf0fb;
  --thumb-position: 50%;
}

#range::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  background-image: url(./images/thumb.svg);
  background-repeat: no-repeat;
  background-position: top 25% left 50%;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 15px 30px 0px rgba(0, 255, 231, 0.6);
  transition: 0.3s;
}

@media (min-width: 1440px) {
  body {
    padding: 10.4rem 45rem 13.7rem;
  }

  header h1 {
    font-size: 2.8rem;
  }

  header p {
    font-size: 1.5rem;
    width: 43ch;
    margin-top: 1.2rem;
    margin-bottom: 9.2rem;
  }

  main {
    padding: 4rem 4.5rem 3.3rem;
    width: 54rem;
  }

  .viewsAndCost {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  .viewsAndCost .views {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .cost {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  .monthly {
    font-size: 16px;
    margin-left: 8px;
  }

  .discount {
    margin-top: 10.4rem;
    margin-right: 2rem;
  }

  hr {
    width: 540px;
    top: 26.1rem;
  }

  #range {
    width: 44.4rem;
    top: 100px;
  }

  .bottom {
    flex-direction: row;
    margin-top: 7.3rem;
    justify-content: space-between;
  }

  .offerList {
    align-items: flex-start;
  }

  button {
    margin-top: 0;
  }
}
